.main-p{
    background-image: url("../image/bg1.svg");
    background-position: center;
    background-size: cover;
}
.product{
    padding: 50px 100px 50px 100px;
    font-family: 'Nunito', sans-serif;
    text-shadow:
    #F0E2E2 -2px -2px 0,
    #F0E2E2 2px -2px 0,
    #F0E2E2 -2px 2px 0,
    #F0E2E2 2px 2px 0,
    black 0 0 0;
}
.prod-but{
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    background-color: #9485AA;
    color: white;
    transition: 0.2s;
    width: 6vw;
}
.prod-but:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.product-description{
    font-size: 22px;
}
.product-head{
    padding: 10px;
    font-size: 36px;
}
.product-cost{
    font-size: 22px;
}
@media(max-width: 550px) {
    .product{
        padding: 50px 70px 50px 70px;
        text-shadow:
    #F0E2E2 -1px -1px 0,
    #F0E2E2 1px -1px 0,
    #F0E2E2 -1px 1px 0,
    #F0E2E2 1px 1px 0,
    black 0 0 0;
        font-size: 50px;
    }
    .main-p{
        background-color: #F0E2E2;
        min-height: 84.5vh;
    }
    .product-head{
        font-size: 22px;
    }
    .product-cost{
        font-size: 18px;
    }
    .product .row .col-7{
        width: 100%;
    }
    .product .row .col-7 a{
        display: none;
    }
    .prod-but{
        width: 30%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .product-description{
        margin-top: 50px;
        font-size: 20px;
    }
}
@media (min-width: 550px) and (max-width: 990px){
    .product{
        padding: 50px 30px 50px 30px;
    }
    .product .row .col-7 a{
        display: none;
    }
    .main-p{
        background-color: #F0E2E2;
        min-height: 85.5vh;
    }
    .product-head{
        font-size: 32px;
    }
    .product-cost{
        font-size: 22px;
    }
    .prod-but{
        font-size: 18px;
        width: 40%;
        margin-bottom: 30px;
    }
    .product-description{
        font-size: 28px;
    }
}
@media(min-width: 1400px){
    .prod-but{
        font-size: 32px;
        width: 30%;
        margin-top: 30px;
    }
    .product-head{
        font-size: 52px;
    }
    .product-cost{
        font-size: 32px;
    }
    .product-description{
        font-size: 38px;
    }
}
