*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    scroll-behavior: smooth;
    background-color: #F0E2E2;
}
hr{
    margin: 2% 0;
    padding: 0;
    height: 2px;
    border: none;

}
::-webkit-scrollbar {
background: transparent;
width: 6px;
}
::-webkit-scrollbar-thumb {
background-color: #555;
box-shadow: inset 0 0 2px #333;
}
::-webkit-scrollbar-corner {
background: transparent;
}
button{font-family: 'Comfortaa', cursive; }

/*Header*/
.header {
    padding: 15px;
    background-color: #9485AA;
    align-items: center;
    text-shadow: 1px 1px 1px #0B4463;
}
.header-name{
    font-size: 36px;
    color: white;
    font-family: 'Ysabeau', sans-serif;
    text-decoration: none;
}
.header-href{
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
@media(max-width: 490px){
    .header{
        padding: 10px 0 0 0;
    }
    .header-name{
        font-size: 26px;
    }
    .header-href{
        font-size: 18px;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}
@media (min-width: 490px) and (max-width: 990px){
    html{overflow: scroll;}
    .header-name{
        font-size: 36px;
        padding-left: 40px;
    }
    .header-href{
        font-size: 22px;
    }
}
@media(min-width: 1400px){
    .header-name{
        font-size: 58px;
        padding-left: 100px;
    }
    .header-href{
        font-size: 38px;
    }
}
/*Main*/
.wrapper{
    padding: 0px 200px 0px 200px;
}
@media(max-width: 490px){
    .wrapper{
        padding: 0px 0px 0px 0px;
    }
}
@media (min-width: 490px) and (max-width: 990px){
    .wrapper{
        padding: 0px 10px 0px 30px;
    }
}

/*Footer*/
.footer{
    background-color: #7093BA;
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px #0B4463;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ysabeau', sans-serif;
}
.footer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
@media (min-width: 490px) and (max-width: 990px){
    .footer{
        height: 8vh;
        font-size: 4vw;
    }
    hr{display: none;}
}
@media(max-width: 490px){
    .footer{
        height: 7vh;
        font-size: 4vw;
    }
    hr{display: none;}
}
@media(min-width: 1400px){
    .footer a{
        font-size: 32px;
    }
}

